<!DOCTYPE html>
{% load staticfiles %}  
<html>

    <head>
        <title>Mainpage</title>
    </head>

        <h1>Looking for a gaming team ? Then GameCrew is for you !</h1>
        <h4>GameCrew is a web application developed to allow gamers to find new gamers to play with.</h4>
		<h4>This can be for playing casually just as much as to find a competitive team.</h4>
	<body>
        <a href="/gamecrew/registration/">Registration</a><br />
		<a href="/gamecrew/login/">Login</a><br />
    </body>

</html>